/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here. 
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles. 
/* ----------------------------------------------------------------------------------------------------- */

/* Grafo como fondo */
#json-text {
    background-color: #394353;
    color: white;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 50vh;
    margin: 0 auto;
}

h1 {
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#map {
    width: 1350px;
    height: 600px;
}

#contenedor-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-grafo {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
  }

.grafo-fondo {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.cabecera{
    display: flex;
    align-items: center;
    gap: 20px;    
    border-bottom: 1px solid #9f9d9d;
    width: 100%;
}

.cabecera-lista {
  display: flex;       
  align-items: center;
  list-style: none;    
  margin: 0;
  padding-right: 10px;
  gap: 15px;  
  margin-left: auto;         
}

.cabecera-lista li {
  display: flex;
  align-items: center; /* Asegura el centrado de los contenedores internos */
}

.cabecera-texto{
    margin-left: 20px;
    padding-right: 100px;
    font-size: x-large;
}

.cabecera-select {
    padding-top: 20px;
    width: 140px; 
    height: 82px;
}

.cabecera-select2 {
    text-align: center;
    justify-content: center;
}

.header-dialog {
    display: flex;
    width: 100%;
}

.checkbox {
    background-color: white;
    color: grey;
    height: 42px;
    padding: 0 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.buscador {
    border: grey solid 1px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 100%;
}

.checkbox > mat-checkbox {
    display: block;
}

img {
    margin-left: 10px;
}

.tabla-contenedor {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 600px;
}

.paginas {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    text-align: center;
}

.mat-table {
    width: 100%;
}

.leaflet-tooltip {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
}

.corto {
    width: 30%;
}

.cortoPuerto {
    width: 30%;
    margin-right: 70px;
}

.corto2 {
    width: 50%;
}

.largo {
    width: 75%;
}

mat-grid-tile {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-lista {
    display: flex;
    margin-bottom: 10px;
}

.boton-contenedor {
    justify-content: center;
}

h1 {
    font-weight: bold;
    color: rgb(33, 33, 33);
    margin-bottom: 1em;
    font-size: x-large;
}

.dialog {
    width: 1000px;
    height: 550px;
}

mat-select {
    display: flex;
}

.datosNodo {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

p {
    margin-left: 5px;
}

h2 + p {
    display: inline;
    margin: 0;
    color: rgb(33, 33, 33);
}

.espacio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.datos-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.estado_interno {
    width: 100%;
    padding: 20px;
}

.estado-interno {
    width: 50%;
    height: 100%;
}

.anadir {
    background-color: #394353;
    color: white;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 1em;
    font-size: medium;
    transition: transform 0.3s ease;
}

.anadir:hover {
    transform: scale(1.2);
}

#botonAN {
    text-align: center;
}

