<div class="contenedor-grafo">
    <div class="cabecera">
        <p class="cabecera-texto"><strong>FILTROS</strong></p>

        <ul class="cabecera-lista">
            <li>
                <div class="checkbox">
                    <mat-checkbox (change)="conexiones($event)" id="conexiones">Desactivar conexiones</mat-checkbox>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <mat-checkbox (change)="conexiones($event)" id="conexiones">Activar Mapa</mat-checkbox>
                </div>
            </li>
            <li>
                <mat-form-field class="cabecera-select">
                <mat-select class="cabecera-select2" (selectionChange)="conexiones($event.value)" value="todos">
                    <mat-option value="todos">Todos</mat-option>
                    <mat-option value="activos">Activos</mat-option>
                    <mat-option value="desactivados">Desactivados</mat-option>
                </mat-select>
            </mat-form-field>
            </li>
        </ul>
    </div>
        
    <div id="grafo" #cyContainer class="grafo-fondo"></div>
</div>
