<div class="contenedor-grafo">
    <div class="cabecera">
        <p class="cabecera-texto"><strong>FILTROS</strong></p>

        <ul class="cabecera-lista">
            <li>
                <div class="checkbox">
                    <mat-checkbox checked (change)="conexiones($event)" id="conexiones">
                        {{ activarConexiones ? 'Conexiones activadas' : 'Conexiones desactivadas' }}
                    </mat-checkbox>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <mat-checkbox (change)="conexiones($event)" id="conexiones">Activar Mapa</mat-checkbox>
                </div>
            </li>
        </ul>
    </div>
        
    <div id="grafo" #cyContainer class="grafo-fondo"></div>
</div>
