:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

/* 1. Contenedor principal a pantalla completa */
.sidenav-container {
  height: 100vh;
  width: 100%;
}

/* 2. Estilos de la barra lateral */
.sidenav {
  width: 60px;
  background-color: rgb(54, 53, 53);
}

/* 3. Centrado vertical de los botones */
.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  height: 100%;           /* Importante: toma todo el alto del sidenav */
}

/* 4. El contenido principal ocupa el resto */
.main-content {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  background-color: #fafafa;
}

mat-icon {
  color: rgb(195, 192, 192);
}